:root {
    --text-main: #1e1e1e;
}
* {
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    align-items: center;;
}
#part1, #part2 {
    margin-top: -1%; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    position: relative;
}

#part1 {
    min-height: 100vh; 
    background-image: url('bg_1.jpg');
} 
#part2 {
    min-height: 70vh; 
    background-image: url('bg_2.jpg');
}
.button_main {
    color: var(--text-main);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 1.5%;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;

    text-decoration: none;
    padding: 0.7% 1%;
    border-radius: 5vw;
    font-size: 1.2vw;
}
.button_main:hover {
    border: 1px solid var(--text-main); 
}
.button_main img {
    width: 1.3vw; 
    height: 1.3vw; 
    margin-bottom: -4%;
}
.buttons {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 7%;
}
.button_play_rules {
    padding: 10px 20px;
    background-color: #08a774;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}
.button_answer {
    color: var(--text-main);
    background-color: aliceblue;
    text-decoration: none;
    padding: 0.7% 1%;
    border-radius: 5vw;
    font-size: 1.2vw;
    border: none;
    
}
.level {
    padding: 1%;
}
h1 {
    padding: 0.4%;
    margin-top: 4%;
    margin-left: 1%;
    background-color: aliceblue;
    border: 2px solid var(--text-main);
    border-radius: 7px;
    width: fit-content;
    font-size: 1.6vw;

}
.garden {
    position: relative;
    width: 50vw;
    height: 50vh;
    margin: auto;
}
.apple {
    position: absolute;
    width: 8vw;
    height: auto;
    transition: all 0.7s ease;
    margin: 1%;
}

